<footer>
	
	<div class="container">
		<small>The Awesome Blog</small>
		<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", about_path%></li>
					<li><%= link_to "Help", help_path %></li>
		</ul>

</footer>